@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");

:root {
  --font-title: "Titan One", cursive;
  --font-body: "Comfortaa", sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--font-title);
}

body {
  font-family: var(--font-body);
}

::-webkit-scrollbar {
  background-color: #f4f7e1;
  width: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: #a1c877;
  border: 5px solid #f4f7e1;
  border-radius: 20px;
}

.Quiz-list {
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.Quiz-list .quiz {
  transition: ease-in-out 0.5s;
}

.quiz1 .thumb {
  border: 17px solid #a1c877;
  border-radius: 10px;
}

.Quiz-list .quiz:hover {
  transform: scale(1.1);
}

.Quiz-list .quiz:hover .thumb {
  transition: ease-in-out 0.5s;
  transform: rotate(4deg);
  border-width: 7px;
  img {
    filter: grayscale(0%);
  }
}
.Quiz-list .quiz:nth-of-type(even):hover .thumb {
  transition: 0.5s;
  transform: rotate(4deg);
  border-width: 7px;
  img {
    filter: grayscale(0%);
  }
}

.quiz:nth-of-type(even) {
  text-align: right;
}

.quiz:nth-of-type(even) .thumb {
  margin-right: -5em;
  transform: rotate(10deg);
  float: right;
}

.quiz:nth-of-type(even) h3 {
  margin-left: -150px;
}
